@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;600&display=swap');

* {
  -webkit-text-size-adjust: none;
}

html {
  font-size: 62.5%;
}

:root {
  --blue: #0EA5EA;
  --dark_blue: #2563EA;


  --dark_yellow: #F49E0B;
  --yellow: #F09E14;

  --white: #FDFFFE;

  --black: #040307;
  --light: #6a677a;
  --light-gray: #e3e7e6;
  --lighter-gray: #f0f3f5;
  --flat-white: #fbfeff;

  --cc: #ccc;

  --light_background: #1A2332;
  --background: #0F1724;
  --grey: #6B7380;

}

body {
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: var(--background);
}

.strong_yellow {
  background-image: linear-gradient(45deg, var(--yellow), var(--dark_yellow));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** End Colors **/
/********************************************** Laptop View ******************************************************/

/*********************** Navigation *******************************/
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  top: 0;
  padding: 0 10%;
  height: 7.5rem;
  background-color: var(--background);
}

nav .logo {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

nav .logo_name {
  font-size: 120%;
  font-weight: 600;
  color: var(--grey);
  padding: 0;
  margin: 0;
}

nav .logo-image {
  width: auto;
  height: 50%;
  padding: 0;
  margin: 0;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  margin: 1.8rem 1.8rem 0.5rem 1.8rem;
  padding-bottom: 0.5rem;
  font-size: clamp(1.6rem, 1.9vh, 2rem);
  text-decoration: none;
  position: relative;
  color: white;
}

nav .links a::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: ease-in-out 0.25s;
  background-color: var(--blue);
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
}

nav .links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
  transition: ease-in-out 0.25s;
}

#nav-toggle {
  position: absolute;
  top: -10rem;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  border: 0.2rem solid var(--background);
  border-radius: 0.5rem;
}

nav .icon-burger .line {
  background-color: var(--grey);
  width: 2.6rem;
  height: 0.3rem;
  margin: 0.5rem;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

nav .icon-burger:focus {
  border: 0.2rem solid var(--blue);
}

/******************** End Navigation *********************************/

/*****************************Home Section *****************************/
.home_container {
  position: relative;
  z-index: 1;
  /* background-image: linear-gradient(to bottom right, #030406, #0f131b);*/
  background-color: var(--background);
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

 

.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
   margin: 0 15%;
}

.home .icon_links {
   padding-right: 7rem;
   display: flex;
   flex-direction: column;
   gap: 0rem;
}

.icon_links a {
  font-size: 3.5rem;
  color: var(--grey);
  text-decoration: none;
  margin: 0;
  padding: 0;
 }

.icon_links a:hover {
  color: var(--white);
   transition: ease-in-out 0.15s;
}

.home_wrapper {
  display: inline-block;
  overflow: hidden;
  padding-left: 7rem;
  border-left: 0.2rem solid var(--grey);

}

/*
.home_wrapper .greetings {
  font-size: clamp(3rem, 1rem + 1.6vw, 4.5rem);
  margin: 0px;
  padding: 0 0 0.5rem 0;
  color: var(--white);
  font-weight: 200;
}
*/

.home_wrapper h2 {
  font-size: clamp(2.4rem, -0.8rem + 2.56vw, 4rem);   
  margin: 0;
  padding: 0 0 0 0;
  color: var(--white);
  line-height: 1.5;
  font-weight: 400;

}

.home_wrapper .greetings3 {
  /*font-size: clamp(1.6rem, 1.8vw, 2.2rem);*/
  font-size: clamp(2.4rem, -0.8rem + 2.56vw, 4rem);   
  margin: 0px;
  padding: 1rem 0 2rem 0;
  color: var(--white);
  line-height: 1.5;
  font-weight: 200;
}

.home_wrapper h1 {
  font-weight: 600;
  font-size: clamp(8rem, -8rem + 12.8vw, 16rem);      
  margin: 0px;
  padding: 0px;
   background-image: linear-gradient(45deg, var(--blue), var(--dark_blue));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.home_wrapper a .space {
  padding-right: 0.8rem;
  font-size: clamp(2rem, 1rem + 0.8vw, 2.5rem);
  display: inline-block;
}

.button {
  border: 0.2rem solid var(--dark_blue);
 margin-right: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
   font-size: clamp(1.6rem, 2vw, 2.2rem);
   font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  display: inline-block;
   position: relative;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  background-image: linear-gradient(45deg, var(--blue), var(--dark_blue));
}


.button:hover {
  background: transparent;
  color: var(--blue);
  border: 0.2rem solid var(--dark_blue);
}

.button2 {
  border-radius: 0.5rem;
  padding: 1rem 5rem;
   font-size: clamp(1.6rem, 2vw, 2.2rem);
   font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  color: var(--blue);
  display: inline-block;
   position: relative;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  border: 0.2rem solid var(--dark_blue);
 }

 .button2:hover {
  color: var(--white);
  transition: ease-in-out 0.5s;
  background: var(--dark_blue);
   border: 0.2rem solid var(--dark_blue);
}



/********************** End Home Section ****************************/

/*********************** About Section ********************************/
.about {
  padding: 10% 15% 5% 15%;
  background-color: var(--background);
}

.about h1 {
  margin: 0;
  font-size: clamp(3rem, 1rem + 1.6vw, 4.5rem);
  padding-bottom: 1rem;
  color: var(--blue);
  font-weight: 500;
}

.about p {
   font-size: clamp(1.6rem, -1.4rem + 1.92vw, 2.2rem);
  color: var(--white);
  line-height: 1.5;
  font-weight: 200;
}

/********************* End About Section **************************/


/********************* Techstack Section **************************/
.skills{
  padding: 5% 15% 7% 15%;
  background-image: linear-gradient(45deg, var(--blue), var(--dark_blue));
text-align: center;}

.skills p {
   font-size: clamp(2.4rem, 1.2rem + 0.96vw, 3rem);
  color: var(--white);
  line-height: 1.5;
  font-weight: 400;
 }

.icons_container {
  display: flex;
  flex-wrap: wrap;
   gap: 0.5rem;
   align-items: center;
   justify-content: center;
}

.icons_container .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.icons .icon_image {
  height: 6rem;
  width: auto;
  }


.icons .icons_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   display: flex;
  justify-content: center;
  align-items: center;
   box-sizing: border-box;
  opacity: 0;
  background-image: linear-gradient(var(--blue), var(--dark_blue));
  }

.icons_overlay p {
  font-size: clamp(1.1rem, 0.1rem + 0.8vw, 1.6rem);
  padding: 0;
  margin: 0;
  color: var(--white);
}

.icons:hover .icons_overlay {
  opacity: 1;
}

 
/*********************end  Techstack Section **************************/


/*********************** Project Section **************************/
.project {
  padding: 7% 15% 5% 15%;
  position: relative;
  background-color: var(--background);
  text-align: center;
}

.project h1 {
  font-size: clamp(3rem, 1rem + 1.6vw, 4.5rem);
   color: var(--blue);
   padding: 0;
   font-weight: 500;
 }

.project p {
  font-size: clamp(1.6rem, -1.4rem + 1.92vw, 2.2rem);
  color: var(--white);
  line-height: 1.5;
  font-weight: 200;
}

/* responsive Cols */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-item {
  flex: 40%;
}

.p-container {
  border: 0.2rem solid var(--grey);
  position: relative;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.p-container img {
  height: 100%;
  width: 100%;

}

.overlay-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg,
      rgb(15, 19, 27, 7), rgb(1, 2, 3, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-title .title1 {
  font-size: clamp(2.4rem, 1.2rem + 0.96vw, 3rem);
  font-weight: 500;
  width: 80%;
  margin: 0;
  padding: 0;
  color: var(--white);
  text-align: center;
  transition: opacity 0.4s ease-in-out;
  
}

.overlay-title .title2 {
  font-size: clamp(1.1rem, 0.1rem + 0.8vw, 1.6rem);
  width: 80%;
  margin: 0;
  padding: 0;
  color: var(--yellow);
  text-align: center;
  transition: opacity 0.4s ease-in-out;
  font-weight: 200;
}

.overlay-title .opens_overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  margin-left: 0.5rem;
  }

.opens_overlay a{
  padding: 0;
  margin: 0;
  color: var(--grey);
  font-size: 1.6rem;
}



.p-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg,
      rgb(1, 2, 3, 1),
      rgb(15, 19, 27, 0.8));
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   
  transition: opacity 0.4s ease-in-out;
}


.p-overlay p {
  color: var(--white);
  padding: 0;
  margin: 0;
  line-height: 1.5;
  width: 80%;
  text-align: center;
  font-weight: 200;
}

.p-container:hover .p-overlay {
  display: flex;
}

.p-container:hover .overlay-title .title1 {
  opacity: 0;
}

.p-container:hover .overlay-title .title1 {
  opacity: 0;
}

.icon-project {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.icon-project a {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: clamp(1.6rem, -1.4rem + 1.92vw, 2.2rem);
}

.project_btn1 {
  background-image: linear-gradient(45deg, var(--blue), var(--dark_blue));
  color: var(--white);
  border: 0.2rem solid var(--dark_blue);
}

.project_btn1:hover {
  background: transparent;
  color: var(--blue);
  border: 0.2rem solid var(--dark_blue);
}

.project_btn2 {
  background: transparent;
  color: var(--blue);
  border: 0.2rem solid var(--dark_blue);
}

.project_btn2:hover {
  background: var(--dark_blue);
  color: var(--white);
  border: 0.2rem solid var(--dark_blue);
}

.p-overlay .close_overlay{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin-right: 0.5rem;
  }
  
.close_overlay a{
   padding: 0;
  margin: 0;
  color: var(--yellow);
  font-size: 2rem;
}


/************************ End Project Section *******************************/

/****************************  Contact Section *******************/
.contact {
  padding: 10% 15% 5% 15%;
  background-color: var(--background);
}

.contact h1 {
  margin: 0;
  font-size: clamp(3rem, 1rem + 1.6vw, 4.5rem);
  padding-bottom: 3rem;
  color: var(--blue);
  font-weight: 500;
}

.contact .wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg);
  }

  10% {
    transform: rotate(14.0deg);
  }

  20% {
    transform: rotate(-8.0deg);
  }

  30% {
    transform: rotate(14.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50% {
    transform: rotate(10.0deg);
  }

  60% {
    transform: rotate(0.0deg);
  }

  100% {
    transform: rotate(0.0deg);
  }

}

.contact h2 {
  font-size: clamp(2.4rem, 1.2rem + 0.96vw, 3rem);
   margin: 0;
  padding: 0;
  color: var(--yellow);
}

.contact p {
  padding-top: 1rem;
  font-size: clamp(1.6rem, -1.4rem + 1.92vw, 2.2rem);
  color: var(--white);
  line-height: 1.5;
  font-weight: 200;
}

.contact .flex-contact {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.contact .flex-contact-left {
  flex: 60%;
}

.contact .flex-contact-right {
  flex: 40%;
}

.contact_space_right {
  padding-left: 1rem;
}

.contact_space_left {
  padding-right: 15rem;
}

.contact .contact_icons {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.6rem;
}

.contact .contact_icons a {
  text-decoration: none;
  margin: 0;
  font-size: clamp(3rem, 1rem + 1.6vw, 4.5rem);
  display: inline-block;
  color: var(--grey);
}

.contact .contact_icons a:hover {
  color: var(--white);
  transform: translateY(-5px);
  transition: ease-in-out 0.15s;
}

label {
  margin-left: 10px;
  font-size: clamp(1.6rem, -1.4rem + 1.92vw, 2.2rem);
  color: var(--white);
}

input[type="email"] {
  background: var(--background);
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid var(--grey);
  outline: none;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: "Heebo", Arial, sans-serif;
  font-size: clamp(1.6rem, -1.4rem + 1.92vw, 2.2rem);
  border-radius: 0.5rem;
  color: var(--white);
}

textarea {

  width: 100%;
  padding: 1rem;
  border: 0.2rem solid var(--grey);
  border-radius: 0.5rem;
  outline: none;
  background: var(--background);
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  resize: vertical;
  font-family: "Heebo", Arial, sans-serif;
  font-size: clamp(1.6rem, -1.4rem + 1.92vw, 2.2rem);
  height: 12rem;
  color: var(--white);
}

input[type="email"]:hover,
textarea:hover,
input[type="email"]:focus,
textarea:focus {
  border: 0.2rem solid var(--blue);
}

input[type="submit"] {
  font-size: clamp(1.6rem, -1.4rem + 1.92vw, 2.2rem);
  background-image: linear-gradient(45deg, var(--blue), var(--dark_blue));
  color: var(--white);
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--dark_blue);
 }

input[type="submit"]:hover {
   

  background: transparent;
  color: var(--blue);
  border: 0.2rem solid var(--dark_blue);
}

input[type="submit"]:focus {
   background-color: var(--blue);
  color: var(--white);
}

/************************ End Contact Section *******************/

/************************* Footer Section **************************/
.footer {
  padding: 2.5rem;
   background-color: var(--background);
   display: flex;
    align-items: center;
   justify-content: center;

}

.footer .footer_img{
  height: 3rem;
  padding-right: 0rem;
  border-right: 0.1rem solid var(--blue);
}
 

.footer p {
   margin: 0 0 0 1rem;
  font-size: clamp(1.1rem, 0.1rem + 0.8vw, 1.6rem);
  color: var(--grey);
  line-height: 1.5;
  font-weight: 200;
}

/*********************** End Footer Section ***********************/

/********************************************** End Desktop View ******************************************************/

/********************************************** Mobile View ******************************************************/
@media screen and (min-width: 100px) and (max-width: 480px) {

  nav {
    padding: 0 6%;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 100%;
    right: 0;
    top: 7rem;
    bottom: 0;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    background: rgb(15, 23, 36, 0.95);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.3s;
  }

  nav .links a {
    font-size: 3rem;
  }

  nav :checked~.links {
    left: 0;
  }

  nav .icon-burger {
    display: block;
    right: 3%;
  }

  nav :checked~.icon-burger .line:nth-child(1) {
    transition: all 0.3s;
    transform: translateY(8px) rotate(225deg);
  }

  nav :checked~.icon-burger .line:nth-child(3) {
    transition: all 0.3s;
    transform: translateY(-8px) rotate(-225deg);
  }

  nav :checked~.icon-burger .line:nth-child(2) {
    transition: all 0.3s;
    opacity: 0;
  }

  .home {
    margin: 0 8%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
  }

  .home .icon_links {
    padding: 1rem 0 0 0;
     gap: 1rem;
    padding-right: 0;
    flex-direction: row;
   }

  .home .icon_links a {
    font-size: 3rem;
  }


  #a {
    order: 2;
  }

  #b {
    order: 1;
  }

  .home .home_wrapper {
    padding-left: 0;
    border: none;
  }
 

  .home .button{
    text-align: center;
    width: 100%;
    margin-right: 0;
  }

  .home .button2{
    text-align: center;
    width: 100%;
   }




  .about {
    padding: 20% 8%;
   }

   .about h1{
    text-align: center;
   }

  .about .about_flex .about_flex1,
  .about_flex2 {
    flex: 100%;
  }

  .about .about_flex .about_flex1 p {
    padding: 0;
  }

  .skills{
    padding: 20% 8%;

  }

  /***********************Project Section ***********************************/
  .project {
    padding: 20% 8%;
  }

  /* responsive Cols */
  .flex-item {
    flex: 100%;
  }

  .overlay-title .opens_overlay{
    display: block; 
    }

  .p-overlay .close_overlay{
    display: block;
  }

  .p-overlay p {
    width: 90%;
  }


 


  /******************* End Project Section *****************************************************/

  .contact {
    padding: 5% 8%;
  }

  .contact h1{
    text-align: center;
  }

  .contact .flex-contact-left,
  .flex-contact-right {
    flex: 100%;
  }

  .contact_space_right {
    padding-left: 0;
    padding-top: 2rem;
  }

  .contact_space_left {
    padding-right: 0;
  }

  input[type="submit"] {
    width: 100%;
  }
}

/********************************************** End Mobile View ******************************************************/

/********************************************** Tablet View ******************************************************/
@media screen and (min-width: 481px) and (max-width: 768px) {
  /*  nav bar */
  nav {
    padding: 0 6%;
  }
  nav .links a {
    font-size: 1.6rem;
  }


  .home {
    margin: 0 8%;
  }

  .about {
    padding: 15% 8%;
  }

  .about .about_flex .about_flex1 {
    flex: 70%;
  }

  .about .about_flex .about_flex2 {
    flex: 30%;
  }

  .project {
    padding: 15% 8%;
  }

  .overlay-title .opens_overlay{
    display: block; 
    }

  .p-overlay .close_overlay{
    display: block;
  }

  .p-overlay p {
    width: 90%;
  }

  .contact {
    padding: 10% 8%;
  }
  
  .contact_space_right {
    padding-left: 1rem;
  }
  
  .contact_space_left {
    padding-right: 1rem;
  }
}

/********************************************** End Tablet View ******************************************************/
@media screen and (min-width: 769px) and (max-width: 1025px) {
  .contact_space_left {
    padding-right: 6rem;
  }
}
/********************************************** large desktop view******************************************************/
@media screen and (min-width: 2000px) {

  nav{
    padding: 0 14%;
  }
  .home {
    margin: 0 18%;
  }

  .about {
    padding: 10% 18%;
  }

  .project {
    padding: 7% 18%;
  }

  .contact {
    padding: 8% 18%;
  }
}

/********************************************** large desktop view******************************************************/




.loader_bg {
  position: fixed;
  z-index: 999;
  background-image: linear-gradient(to bottom right, #030406, #0f131b);
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: ease-out 0.2s;
}


.loader_img {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--background);
  padding: 0.3rem;
  border-radius: 50%;
  border: 0.8rem solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99999;
}

.loader_img img {
  width: 3rem;
  height: 3rem;
}


.loader {

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1rem solid transparent;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::before,
.loader::after {
  content: '';
  border: 1.5rem solid var(--blue);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;

  position: absolute;

  animation: loader 1s linear infinite;
  opacity: 0;
}

.loader::before {
  animation-delay: 0.2s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;

  }

  100% {
    transform: scale(1);
    opacity: 0;

  }
}